.screenPane {
    -fx-pref-width: 360px;
    -fx-pref-height: 740px;
    -fx-border-width: 0px;
    -fx-background-color: white;
}
.detailCardPane {
    -fx-pref-width: 300px;
    -fx-pref-height: 90px;
    -fx-border-width: 0px;
    -fx-background-color: white;
    -fx-background-radius: 0 0 8 8;
}
.detailCardPane:hover {
    -fx-background-color: #F2F2F2;
    -fx-cursor: hand;
}
.searchCardPane {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-border-width: 0px;
    -fx-background-color: white;
    -fx-background-radius: 0 0 8 8;
}
.searchCardPane:hover {
    -fx-background-color: #F2F2F2;
    -fx-cursor: hand;
}
.entryCardPane {
    -fx-pref-width: 300px;
    -fx-pref-height: 60px;
    -fx-border-width: 0px;
    -fx-background-color: white;
    -fx-background-radius: 0 0 8 8;
}
.entryCardPane:hover {
    -fx-background-color: #F2F2F2;
    -fx-cursor: hand;
}
.cardScrollPane > .viewport {
   -fx-background-color: transparent;
}
.cardScrollPane {
    -fx-pref-width: 360px;
    -fx-background-color: transparent;
}
.createButton:hover {
    -fx-cursor: hand;
}
.backButton:hover {
    -fx-cursor: hand;
}

.titleText {
}
.labelText {
    -fx-font-size: 20px;
}